.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    width: 25%;
}

label {
    font-size: 2em;
}

input {
    margin-top: 10px;
    font-size: 2em;
    text-align: center;
}

button {
    margin-top: 10px;
    font-size: 2em;
}

.weather {
    margin-top: 5%;
    font-size: 4em;
}

img {
    width: 50%;
}

input.ng-invalid
{
    border: 2px solid #f00;
}